{% extends 'layout.html' %}




{% block body %}

<div class="container">
    <div class="abs-center">

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Autor" aria-label="Last name">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Link" aria-label="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Link Cover" aria-label="Last name">
            </div>
        </div>


    </div>
</div>



{% endblock %}