{% extends 'layout.html'%}

{% block body %}
<!-- <div class="container">
    <div class="abs-center">

        <table class="table table-hover table-dark tableFixHead">
            <thead>
                <tr class="">
                    <th scope="col">Nombre</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Link</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
            <tbody>
                {% for can in canciones%}
                <tr>
                    <td>{{can[1]}}</td>
                    <td>{{can[2]}}</td>
                    <td><a class="btn btn-primary" target="black" href="{{can[3]}}" role="button">Ver en YouTube</a>
                    </td>
                    <td><img src="{{can[4]}}" class="img-thumbnail" width="100px"></td>
                    <td><button type="button" class="btn btn-warning">Editar</button></td>
                    <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div> -->


<div class="container">
    <div class="row row-cols-4">

        {% for can in canciones %}

        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="{{can[4]}}" class="img-thumbnail" width="500px">
                <div class="card-body">
                    <h5 class="card-title">{{can[1]}}</h5>
                    <p class="card-text">{{can[2]}}</p>
                    <div class="container">
                        <div class="btn-group">
                            <a href="{{can[3]}}" class="btn btn-success" target="black">YouTube</a>
                            <a href="editar" class="btn btn-warning" target="black">Editar</a>
                            <a href="{{can[3]}}" class="btn btn-danger"target="black" >Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}